*{
    margin: 0;
    padding: 0;
}

nav{
    background-color:#403429;
    color: beige;
    padding: 30px;
}
li,h1,ul{
    display:inline
}
ul{
    margin-left:67%;
}
li{
    color:beige;
    cursor: pointer;
}
li:hover{
    color:black;
}
body{
    background-color:#d4c6bb;
}
input{
    width: 60%;
    padding: 15px
}
.searchbar{
    text-align: center;
    margin: 50px;
    border-width: 5px;
}
.box{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display:inline-block;
    width: 200px;

}
img{
    height: 200px;
    width: 200px;
    object-fit: cover ;
    float: left;
}
.box:hover{
    background-color: #403429;
    color:#d4c6bb ;
    cursor: pointer;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 50px;
}
.contact{
    background-color: #403429;
    color: beige;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

